
@font-face{
	font-family: youregone;
	src: url('../../vendor/fonts/youregone/youregone.ttf');
}.font-youregone{font-family:"youregone"!important;font-weight:200!important;}

@font-face{
	font-family: Ridge-Regular;
	src: url('../../vendor/fonts/Ridge-Regular/Ridge-Regular.otf');
}.font-ridge{font-family:"Ridge-Regular"!important;font-weight:200!important;}

@font-face{
	font-family: VAL;
	src: url('../../vendor/fonts/VAL/VAL.otf');
}.font-VAL{font-family:"VAL"!important;}

@font-face{
	font-family: LondrinaSketch;
	src: url('../../vendor/fonts/LondrinaSketch-Regular.ttf');
}.font-londrina{font-family:"LondrinaSketch"!important;}

@font-face{
	font-family: BlackoutM;
	src: url('../../vendor/fonts/blackout/Blackout Midnight.ttf');
}.font-blackoutM{font-family:"BlackoutM"!important;}

@font-face{
	font-family: BlackoutS;
	src: url('../../vendor/fonts/blackout/Blackout Sunrise.ttf');
}.font-blackoutS{font-family:"BlackoutS"!important;}

@font-face{
	font-family: BlackoutT;
	src: url('../../vendor/fonts/blackout/Blackout Two AM.ttf');
}.font-blackoutT{font-family:"BlackoutT"!important;}

@font-face{
	font-family: ZILAP;
	src: url('../../vendor/fonts/ZILAP.ttf');
}.font-ZILAP{font-family:"ZILAP"!important;}

@font-face{
	font-family: coconut;
	src: url('../../vendor/fonts/Coconut_Point.otf');
}.font-coconut{font-family:"coconut"!important;}

@font-face{
font-family: Homestead;
src: url('../../vendor/fonts/Homestead/Homestead-Display.ttf');
}

body.modal-open{
	overflow: visible!important;
}

.colorpicker{
	display: none;
}
.homestead{font-family:"Homestead";font-weight:200!important;}

.font-montserrat{font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.bold{ font-weight:700!important; }

.font-light{ font-weight: 300!important; }

.scroll-top .btn {
    font-size: 20px;
    width: 65px;
	height: 65px;
    border-radius: 100% 0 0;
	line-height: 28px;
	border: none;
	background-color: #1a67e7;
	padding-top: 25px;
	padding-left: 25px;
}

body{
	padding-right: 0px !important;
}

.scroll-top .btn:hover {
	background-color: #407ee4;
}

.scroll-top {
    right: 0%;
    bottom: 0%;
    width: 65px;
	height: 65px;
}

.modal-backdrop{
	display: none!important;
	top: 40px!important;
}
#modalItemNotLocated{
	top:100px;
}

.radio-tool .btn {
    font-size: 20px;
    width: 65px;
	height: 65px;
    border-radius: 0 100% 0 0;
	line-height: 28px;
	border: none;
	background-color: #233140;
	padding-top: 25px;
	padding-right: 25px;
}
.radio-tool .btn:hover {
	background-color: #303030;
}

.radio-tool {
	position: fixed;
    left: 0%;
    bottom: 0%;
    width: 65px;
	height: 65px;
	z-index:1049;
}
footer{
	margin-top:30px;
}
.footer-below{
	background-color: #233140;
}
header, .header {
  /*margin-top: 55px;*/
  text-align: center;
  /*background: rgba(0, 0, 0, 0.03);*/
  /*background: url("../../img/background-header/contact-map.jpg") center top;*/
  color: #365766;
  background-color: white;
}
header{
	position: relative;
	/*min-height: 50px;*/
}
header .intro-text .name , 
.header .intro-text .name {
    font-size: 40px;
	letter-spacing: 0px;
	margin-bottom: -10px;
}
.portfolio-modal.modal .name{
    font-size: 5em;
	letter-spacing: 2px;
}

header img,
.header img {
    display: block;
    margin: 0 auto 20px;
}
header .container ,
.header .container {
    padding-top: 80px;
	padding-bottom: 70px;
}
.link-submenu-header{
    text-transform: uppercase;
    font-weight: 800;
	/*font-family: Homestead;*/
}
/*.intro-text a.menu-top {
    color: #34a853 !important;
}*/
.ws-pre-line{
	white-space: pre-line;
}

.radius-circle{
	border-radius: 100%;	
}
.main-container{
	background-color: white;
	min-height:1000px;
	min-width: 100%;
	padding: 60px 0px 0px 0px;
}
.main-container.vertical{
	padding-left: 52px;
}
.sigModuleBg{
	z-index:-1;
}
section {
    padding: 70px 0 0 0;
}
#lbl-chk-scope{
	height: 56px;
}

.navbar-custom {
    background: rgba(251, 251, 251, 0.98); /*#FFF;/*rgba(255, 255, 255, 0.2)*/;
    padding: 8px 0;
	-webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-custom .navbar-nav li a{
	color:#2C3E50;
}
.navbar-custom .navbar-nav li a:hover{
	color:#2C3E50;
}

.navbar-custom .navbar-nav li .font-blackoutT{
	font-size: 32px;
	letter-spacing: -1px;
}


.navbar-custom .navbar-nav {
    font-size: 15px;
}

.navbar-custom.affix {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em !important;
}
#btn-territorial-modules{
	line-height: 45px;
	padding: 5px;
	text-transform: capitalize;
	font-family: homestead;
	font-weight: 100;
}
#btn-territorial-modules:hover{
	text-decoration: none;
    color: #e6344d !important;
}
#territorial-menu{
	margin-bottom: 0px !important;
}
#filter-scopes-menu, #filters-nav, #territorial-menu{
	padding-left: 5% !important;
}
#filter-scopes-menu{
	background-color: white;
    padding-left: 5% !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgba(100,100,100,0.1);
    margin-top: 1px;
    border-bottom: 1px solid rgba(100,100,100,0.1);
}
#filter-scopes-menu .input-group-addon{
	background-color: #eee !important;
}
#text-search-menu{
	display: none;
}
#affix-sub-menu.affix{
	top: 65px;
	left: 0px;
  	/*background-image: url("../../img/background-onepage/pattern/witewall_3.png");*/
    background-color: rgb(252, 252, 252);
	-webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.5);
    width: 100%;
    z-index: 10000;
}
#mainNav{
	border:none;
	background-color: rgb(252, 252, 252);
	z-index: 100000
}
#mainNav.borderShadow{
	box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
    border-bottom: 1px solid #dadada;
}
#filters-menu{
	display:none;
}
#affix-sub-menu.affix #filters-menu{
	display: none;
	z-index:100;
	width: 100%;
	margin-top: 0px !important;
    margin: inherit;
}
#filters-container-menu{
	display:none;
}
.filterstags .select2-search-choice{
	padding: 10px 20px !important;
    background: transparent !important;
    border-color: #ea4335 !important;
    color: #ea4335 !important;
}
.filterstags .select2-search-choice .select2-search-choice-close{
    margin: 7px 2px;
    text-align: -webkit-center;
    height: 15px;
    background: inherit;
    cursor: pointer;
    color: #ea4335;
}
.filterstags .select2-search-choice .select2-search-choice-close:before{
	font-size: 12px;
    font-weight: normal;
    color: #ea4335;
}
#mainNav.affix #filters-container-menu{
	display:block;
	/*margin-left:5px;*/
}
#mainNav.affix .logo-menutop.main{
	display: none;
}
#filters-container, #filters-container-menu{
    float: left;
    /*width: 11%;*/
}
#filters-container ul, #filters-container-menu ul{
    list-style: none;
    margin-bottom: 0px;
    float:left;
    padding: 0px;
}

#filters-container ul li{
    display: inline-block;
    float: left;
    height: 35px;
    width: 35px;
    background: white;
    font-size: 14px;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5);
    color: #555;
    position: relative;
}
#filters-container-menu ul li{
	display: inline-block;
    /* float: left; */
    height: 40px;
    text-align: center;
    margin-top: 5px;
    border-radius: 40px;
    width: 15px;
    /* background: white; */
    /* padding: 5px 15px; */
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    /* -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5); */
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    /* box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5); */
}
#filters-container ul li.active, #filters-container-menu ul li.active{
          color:white;
        background-color: #ea4335;
}
.navbar-custom.affix-top .navbar-brand{
	display: none;
}

.navbar-collapse li, .navbar-map li{
	font-size:12px;
	letter-spacing: 0px;
}


#main-title-top{
	text-transform: none;
	font-weight: 400;
	font-size: 15px;
	color: #365766;
}
.navbar-custom.affix #main-title-top{
	display: none;
}

/*input#second-search-bar{
	display: none;
}*/

.navbar-custom.affix input#second-search-bar{
	display: inline;
}
.navbar-custom.affix .menu-btn-start-search{
	display: inline;
}
.navbar-custom.affix-top .menu-btn-start-search{
	display: none;
}

.navbar-custom .skills{
	display: inline;
	padding-top:15px;
	float:left;
	text-transform: none;
	color: #769AAB;
}
.navbar-custom.affix .skills{
	display: none;
}

.navbar-custom.affix .hidden-top{
	display: inline;
}
.navbar-custom.affix-top .hidden-top{
	display: none;
}

.navbar-custom.affix .show-top{
	display: none!important;
}
.navbar-custom.affix-top .show-top{
	display: inline;
}

.navbar-custom .scopes{
	margin-top:8px;
}

.btn-scope{    
	border-radius: 20px;
	font-size:14px;
    margin-right:3px;
	background-color: #fff;
	color: #ea4335;
}

.btn-scope:hover{    
	background-color: #e65c50;
	color: #fff;
}
.btn-scope.selected{    
	background-color: #ea4335;
	color: #fff;
}

.navbar-custom .scopes .btn-scope {
    font-size: 12px;
}

.navbar-custom.affix .navbar-header .nc_map_min{
	display: inline;
}

.navbar-custom .btn-show-map, .main-container.vertical .btn-show-map{
	background-color: #0095FF;
	/*background-color: #7bd18f;*/
	color: white;
	border: 2px solid transparent;
	float: right;
	font-size: 17px;
	margin-left: 10px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
}
.navbar-custom .btn-show-map:hover, .main-container.vertical .btn-show-map:hover{
	background-color: transparent;
	color: #0095FF;
	border: 2px solid #0095FF;
}
.btn-show-onmap{
	background-color: #0095FF;
	color: white;
	padding:0px 15px;
	border: 2px solid transparent;
	border-radius: 20px 0px;
	height: 35px;
	font-size: 13px;

}
.btn-show-onmap:hover{
	background-color: transparent;
	color: #0095FF;
	border: 2px solid #0095FF;
}

.navbar-custom .btn-show-mainmenu{
	float:right;
	margin-left:-5px;
	position: relative;
	/*background-color: #fbbc05;*/
	/*background-color: #354c57;*/
	/*color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 0px 50%;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 25px;*/
}
.navbar-custom .btn-show-mainmenu:hover{
	/*background-color: transparent;
	color: #fbbc05;
	border: 2px solid #fbbc05;*/
}



.navbar-custom .btn-show-appmenu{
	float:right;
	margin-top:10px;
	margin-left:-5px;
	background-color: #fbbc05;
	/*background-color: #354c57;*/
	color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 0px 50%;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 25px;
}
.navbar-custom .btn-show-appmenu:hover{
	background-color: transparent;
	color: #fbbc05;
	border: 2px solid #fbbc05;
}

.navbar-custom .btn-open-floopdrawer{
	/*background-color: white;
	color: #484746 !important;
	margin-top: 10px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 6px;
	float: right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 14px;
	float: right;
	border: 1px solid #959595;
	padding: 0px 0px;*/
}

.navbar-custom .btn-open-floopdrawer:hover{
	background-color: transparent;
	border: 2px solid #959595;
}
.navbar-custom .btn-show-communexion{
	background-color: #ea4335;
	/*background-color: #354c57;*/
	color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 0px 50%;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 10px;
}
.navbar-custom .btn-show-communexion:hover{
	background-color: transparent;
	color: #ea4335;
	border: 2px solid #ea4335;
}
.links-main-menu .btn-main-menu:hover,
.links-create-element .btn-create-elem:hover{
	-moz-box-shadow: 	0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow:	0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 		0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	box-shadow: 		0px 0px 20px -10px rgba(0, 0, 0, 0.68);
}

.nav > li > a:focus, .nav > li > a:hover{
	background-color: transparent;
}


.inSig #mainNav{
  background-color: rgba(255,255,255,0.9);
}

#mainNav .container, .navbar-map .container{
	width: 100%;
	padding: 0px 20px;
	font-size: 16px;
}

.navbar-map{
	position: absolute;
	top:0px;
	width:100%;
	height:60px;
	background: rgba(41, 41, 41, 0.85) !important;
	color:white;
	display: none;
	-moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
}

.inSig .navbar-map{
	display: inline;
}


.navbar-header .logo-menutop{
	/*display: none;*/
	float: left;
	margin: 10px 5px 0 -10px;
}

.navbar-custom.affix .navbar-header .logo-menutop{
	margin: 13px 10px 0 -10px;
}


 #filters-nav-list > li > a.dropdown-toggle:hover, #filters-nav-list > li > a.dropdown-toggle.active{
        color:#2BB0C6 !important;
        font-weight: bold;
        text-decoration: none;
    }
    #filters-nav-list > li{
        position: relative;
        float: left;
        margin-right: 10px;
        display: inline-block;
        padding: 10px 5px;
    }
    .btn-show-filters{
        padding: 3px 15px;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: white;
    }
    #filters-nav-list .dropdown .dropdown-menu{
        left: -2px;
        /*width: 90%;*/
        top: 40px;
        position: absolute !important;
    }
    #filters-nav-list .dropdown .dropdown-menu:after, #filters-nav-list .dropdown .dropdown-menu:before{
        left: 5%;
    }
    #filters-nav-list .dropdown .btn-news-type-filters {
        border:inherit;
    }
    #filters-nav-list .dropdown .dropdown-menu{
        max-height: 400px;
        max-width: 700px;
        min-width: 300px;
        overflow-y: overlay;
    }
     #filters-nav-list .dropdown-tags .btn-tags-start-search,  #filters-nav-list .dropdown-tags  .btn-tags-refresh{
        border-radius: 3px;
        border: 1px solid #aaa;
        padding-bottom: 9px !important;
    }
    #filters-nav-list .dropdown-tags .dropdown-menu, #filters-nav-list .dropdown-price .dropdown-menu{
        width: 600px;
    }
    #filters-nav-list .dropdown{
        display:none;
        list-style: none;
    }
    #vertical  #territorial-menu{
        position: fixed;
        bottom: 0px;
        top: 62px;
        left: 0px;
        width: 52px;
        padding: 0px !important;
        z-index: 1;
        box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.5);
    }
    #vertical  #territorial-menu .btn-menu-to-app{
        width: 100%;
        font-size: 15px;
    }
    #vertical{
        min-height: 0px;
    }
    #vertical #affix-sub-menu{
            padding-left: 52px;
            top: 62px;
            box-shadow: none;
    }
    #vertical #filters-nav{
        padding-left: 1% !important;
       	border-bottom: 1px solid rgba(100,100,100,0.1);
        /*box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);*/
    }
    #mainNav.vertical .btn-show-map, #mainNav.vertical #dropdown-apps, #mainNav.vertical .btn-dashboard-dda{
    	display:none;
    }
    .tooltips-menu-btn, .tooltips-top-menu-btn{
        display: none;
        position: absolute;
        background-color: #2C3E48;
        color: white;
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 14px;
        font-variant-caps: initial;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 22px;
    }
   	.tooltips-menu-btn {
    	left: 60px;
        top: 7px;
    }
    .tooltips-top-menu-btn{
    	left: 0px;
        top: 50px;	
        text-align: center;
   		width: 130px;
    }
    .menu-name-profil .tooltips-top-menu-btn{
    	top: 55px;
    	right: 0px;
    	left: inherit;
    }
    .btn-show-mainmenu .tooltips-top-menu-btn{
		right: 0px;
    	left: inherit;
    }
    .btn-menu-vertical.opened .tooltips-menu-btn{
        display:none !important;
    }
    .tooltips-menu-btn:before, .tooltips-menu-btn:after, .tooltips-top-menu-btn:before, .tooltips-top-menu-btn:after{
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .tooltips-menu-btn:before, .tooltips-menu-btn:after{
    	bottom: 5px;
        left: -11px;
    }
    .tooltips-top-menu-btn:before, .tooltips-top-menu-btn:after{
        top: -11px;
    	left: 10%;
    }
    .tooltips-menu-btn:after, .tooltips-top-menu-btn:after{
        border-color: rgba(255, 255, 255, 0);
       
        border-width: 10px;
    }
    .btn-show-mainmenu .tooltips-top-menu-btn:before, .btn-show-mainmenu .tooltips-top-menu-btn:after,
    .menu-name-profil .tooltips-top-menu-btn:before, .menu-name-profil .tooltips-top-menu-btn:after{
    	right: 5%;
    	left: inherit;
    }
    .tooltips-menu-btn:after{
    	margin-left: -6px;
    	border-right-color: #2C3E50;
    }
    .tooltips-top-menu-btn:after{
    	margin-top: -6px;
    	border-bottom-color: #2C3E50;
    }
    .tooltips-menu-btn:before, .tooltips-top-menu-btn:before{
        border-color: rgba(179, 179, 179, 0);
        border-bottom-color: #transparent;
        border-width: 12px;
    }
    .tooltips-menu-btn:before{
    	margin-left: -12px;
    }
    .tooltips-top-menu-btn:before{
    	margin-top: -12px;
    }
    #vertical #filter-scopes-menu{
    	border-top: 0px;
    	margin-top: 0px;
    }
    /*#filters-nav-list .dropdown .dropdown-menu:after{
        width: inherit;
        right: inherit;
    }*/
    @media (max-width: 767px) {	
	    #mainNav.vertical .btn-show-map{
	    	display:block;
	    }
        #vertical #affix-sub-menu{
        	top: 66px;
            padding-left: 0px !important;
            box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.5);
        }
        .main-container.vertical{
        	padding-left: 0px !important; 
        }
    }
    @media (min-width: 768px) {
	    .main-container.vertical .btn-show-map{
			margin: 0px 3px;
		    font-size: 14px;
		    width: 40%;
		    border-radius: 4px;
		    height: 34px;
		}
	}



#right_tool_map{
	top: 60px!important;
	left:unset!important;
	right:0px!important;
	width:30%;
	min-width:400px;
	-moz-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-o-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
}
#input_name_filter{
	background-color: transparent;
	margin-bottom:5px;
	-moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
}
#lbl-chk-scope{
	-moz-box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-o-box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
	box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
}
#input-search-map {
    background-color: #000000;
    color: white;
    border-color: black;
    border-width: 0px;
    height: 40px;
    margin-top: 6px;
}


.logo-menutop{
	margin-bottom: -10px;
}
header .logo-menutop{
	height:70px;
}
.navbar-brand {
    padding: 0 0 0 20px;
}

a, a:hover, a:focus, a:active, a.active{
	color:#2C3E50;
}
.navbar-custom a:hover, .navbar-custom a:focus, 
.navbar-custom a:active, .navbar-custom a.active{
	background-color:transparent;
}

.navbar-custom .navbar-nav li.active a{
	color:#ea4335!important;
	background-color: white !important;
}

.portfolio-link h3{
	padding:5px 0px;
	margin:0px;
	font-size: 18px;
}

.portfolio-item p{
	font-size:17px;
}


#mainCategories .portfolio .portfolio-item {
	margin:0 0 15px;
	padding:10px;
	border-radius: 5px;
	color: #2C3E50;
}
#mainCategories .portfolio .portfolio-item:hover {
	background-color: #C8EBF5;
}

#mainCategories .portfolio .portfolio-item .portfolio-link {
	text-align: center;
	background-color: transparent;
	border: none;
}
#mainCategories .portfolio .portfolio-item button.portfolio-link{
	color: #2C3E50;
}
#mainCategories .portfolio .portfolio-item .portfolio-link .caption{
	background-color: transparent;
}
#mainCategories .portfolio .portfolio-item a.portfolio-link:hover{
	text-decoration: none;
}


.text-green button.portfolio-link{
	color: #34a853 !important;
}

#main-search-bar, #main-search-xs-bar, #second-search-xs-bar{
	padding: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: 200;
    width: 90%;
    border-radius: 20px 0px 0px 20px;
    /*margin-top: -2px;
    margin-bottom: 0px;*/
    text-align: -webkit-center;
    border: 1px solid #dadada !important;
    /* -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5); */
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
    /* box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5); */
    /* border: 1px solid #dadada; */
	/*font-size:15px;
	height:35px;
    border:none;
	font-weight: 200;*/
}
@media (max-width: 767px){
	#main-search-xs-bar, #second-search-xs-bar{
		width: 80%;
	}
	#text-search-menu #dropdown-apps{
		width: 10%;
	    border: 1px solid #dadada !important;
	    background-color: #ea4335!important;
	    color: white !important;
	    font-size: 21px;
	    padding: 3px 2px;
	    width: 10%;
	    /* border-radius: 0px 20px 20px 0px !important; */
	    border-left: 0px !important;
	    float: left;
	}
	#text-search-menu #dropdown-apps.padding{
		padding: 4px 2px;
	}
	#text-search-menu #dropdown-apps #dropdownApps{
		background: none;
	    color: white;
	    border: none;
	}
	.dropdown-result-global-search{
		max-height: 70% !important;
	    border-radius: 0px 0px 25px 25px;
	    box-shadow: rgba(0, 0, 0, 0.4) 4px 10px 11px 1px;
	    overflow-y: scroll;
	    position: fixed;
	    background-color: white;
	    top: 106px;
	}
}
#main-input-group{
	margin-top:0px;
	-webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5) ;
}
#main-search-bar-addon, #second-search-bar-addon, #main-search-xs-bar-addon, #second-search-xs-bar-addon{
	border: 1px solid #dadada !important;
    background-color: #dadada !important;
    font-size: 14px;
    padding: 12px 7px;
    width: 10%;
    border-radius: 0px 20px 20px 0px !important;
    border-left: 0px !important;
}
#second-search-bar{
	padding:10px;
	font-size:14px;
	height:40px;
	font-weight: 200;
	border-radius: 20px 0px 0px 20px !important;
	width: 90%;
	float: left;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    border:1px solid #dadada;
}

#menu-map-btn-start-search{
	margin-top: 6px;
	border-color: transparent;
	background-color: black;
	color: white;
	padding: 9px 14px;
	margin-left: 3px;
}
#menu-btn-start-search{
	margin-top:6px;
	border-color: transparent;
	padding: 9px 14px;
	margin-left: 3px;
}

/*
#btn-main-menu{
	position: fixed;
	top:85px;
	left:20px;
	border-radius: 1px;
	letter-spacing: 2px;
}*/
 #filter-scopes-menu .dropdown-result-global-search, #news-scope-search .dropdown-result-global-search{
        position: absolute;
        max-height: 250px !important;
        top: 35px;
        z-index: 100;
        background-color: white;
        width: 100%;
        float: left;
        overflow-y: auto;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        left: 0px;
}
.dropdown .dropdown-main-menu{
	display:none;
}
.dropdown.open .dropdown-main-menu{
	display:block;
}

.dropdown-main-menu{
	position: fixed;
	top: 65px;
    right: 55px;
	max-height: 400px;
	background-color: transparent;
	z-index: 100000;
}

.main-container.vertical .dropdown-main-menu{
	top: 58px;
	right: 5px;
}
.dropdown-main-menu .dropdown-menu{
	margin:0px;
	border:none;
	display: inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.dropdownApps-menuTop .dropdown-menu{
    left: 31px;
    top: 5px;
    position: absolute;
    width: 250px;
    border: 1px solid #0003;
    border-radius: 0px;
    height: 170px;
    z-index: 1000000;
}
.dropdownApps-menuTop .dropdown-menu:before, .dropdownApps-menuTop .dropdown-menu:after{
	left: 14% !important;
}
.dropdownApps-menuTop .dropdown-menu a{
	height:70px;
	padding-top:15px !important;
	font-size: 12px;
	font-weight: 200;
	text-transform: capitalize;
	color:#ea4335;
	cursor: pointer;
}
.dropdownApps-menuTop .dropdown-menu a:hover{
	color: #ea4335 !important;
	font-weight: bold;
	text-decoration: none!important;

}
.dropdown-main-menu .dropdown-menu li a {
	text-transform: none;
	font-size: 13px;
}

.dropdown-main-menu .arrow_box:after, .dropdown-main-menu .arrow_box:before {
	right: 25px;
	left: unset;
}
.dropdown-languages-nouser{
	position: absolute;
	top: 50px;
}

.dropdown-languages-nouser:before, .dropdown-languages-nouser:after{
	right: 15px;
	left: inherit;
}

.main-container.vertical .dropdown-main-menu .arrow_box:after, .main-container.vertical .dropdown-main-menu .arrow_box:before {
	right: 17px;
}
#list-dashboard-dda:before, #list-dashboard-dda:after{
	left: 103px !important;
}
.portfolio-modal .modal-content h2 {
    font-size: 2em;
}

#main-btn-start-search, 
.main-btn-create, .btn-refresh,
#btn-new-search{
	font-size: 14px;
	height: 37px;
	border-color: #dedede;
	color: #6f6f6f;
	font-weight: 700;
	background-color: #f8f8f8;
	margin-bottom:5px;
}
#main-btn-start-search:hover, 
.btn-refresh:hover
.main-btn-create:hover{
	background-color: #fff;
	color:#4b4b4b;
	font-weight: 700;
}

.bootbox{
	z-index: 200000;
}


#btnShowMoreResult{
  padding: 20px;
  font-size: 20px;
  width: 100%;
  float: left;
}
.skills{
	font-size:11px !important;
}

#subtitle{
	margin-top: -40px !important;
	margin-bottom: 15px;
}

.name .pastille{
	margin-top: -25px;
	display: block;
	text-align: right;
	max-width: 65%;
	font-size: 0.4em;
}
.navbar-brand .pastille{
	margin-top: 35px;
	text-align: right;
	font-size: 0.5em;
	letter-spacing: -2px !important;
	display: inline-block;
	margin-left: -20px;
}
.main-menu-app{
	margin-bottom:70px;
	padding-top:80px;
}
.search-eco a{
	color:#34a853;
}
.search-eco hr.angle-down{
	border-color:#34a853;
}
.search-eco hr.angle-down::after{
	background-color: #34a853;
}
.search-eco .portfolio-item:hover {
	background-color: #d3f6dc !important;
}
/******************BOUBOULE********************/
.progressTop {
    text-align: center;
    width: 100%;
    height: 3px;
    background-color: white;
    border:none;
    transition: width .3s;
    position: fixed;
    top: 0px;
    z-index: 10000000000;
}
.progressTop::-webkit-progress-bar { background: #fff; }
.progressTop::-webkit-progress-value
{
    background-color: #e6344d;
}
.progressTop::-moz-progress-bar{  
    background-color: #e6344d;
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-dual-ring {
  position: relative;
  line-height: 310px;
}
.lds-dual-ring > img{
    height: 100px;
}
.blockUI .lds-css{
	width: 300px;
    margin-top: 5%;
    position: relative;
    display: -webkit-inline-box;
    display: inline-block;
}
.lds-dual-ring div {
  position: absolute;
  width: 300px;
    height: 300px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #2c3e50 transparent #2c3e50 transparent;
  -webkit-animation: lds-dual-ring 2s linear infinite;
  animation: lds-dual-ring 2s linear infinite;
}
.lds-dual-ring div:nth-child(2) {
	width: 280px;
	height: 280px;
	top: 20px;
	left: 20px;
  border-color: transparent #e6344d transparent #e6344d;
  -webkit-animation: lds-dual-ring_reverse 2s linear infinite;
  animation: lds-dual-ring_reverse 2s linear infinite;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
/****************µEND BOUBOULE ********************/
.blockUI{
	z-index:15000!important;	
	border-radius:0px 0px 4px 4px!important;
	/*background-color: rgba(255, 255, 255, 0.9);*/
}
.blockUI.blockMsg.blockPage{
	left:0%!important;
	width:100%!important;
	top:0px!important;
	min-height: 1000px!important;
	padding-top: 105px!important;
}

.blockUI.blockMsg.blockPage img{
	margin-bottom:20px;
}

.blockUI.blockMsg.blockPage .loaderBlockUI{
	position: absolute;
	left: 49%;
	top: 200px;
	margin-left: 8px;
}
.blockUI.blockMsg.blockPage .btnHelp i{
	font-size:14px;
}
/*.blockUI.blockMsg.blockPage i.fa{
	position: absolute;
	left: 49%;
	top: 200px;
	margin-left: 8px;
}*/


#refResult{
	margin-top:20px;
}


#refResult label{
	width:100%;
}

pre{
	padding: 3px;
	margin: 0;
	font-size: 11px;
	color: #c54334;
}

h3.title_panel_map{
	font-size:13px;
}
.sigModuleBg .panel_map{
	top: 97% !important;
}
.leaflet-popup-content-wrapper{
	display: flex;
}
.item_map_list .right-col{
	width: 70%;
	max-width: 70%;
}
.leaflet-popup-content .item_map_list .right-col{
	width: 65%;
	max-width: 65%;
}
#right_tool_map .item_map_list .separation{
	min-width: 95%;
}
.item_map_list i.fa-map-marker.fa-2x{
	font-size: 2em;
	margin-top: -7px;
}

#newElement_btnSearchAddress{
	padding: 6px 0 !important;
}

.leaflet-popup-content button{
	font-size: 13px;
}

.sigModuleBg .btn-group-map.tools-btn{
	margin-right:-35px;
}

.right_tool_map_header{
	height: 60px!important;
	padding-top: 2px!important;
}
#lbl-chk-scope{
	margin-top:0px!important;
}
#btn-tags .btn-map, #btn-filter .btn-map{
	padding: 19px 17px !important;
	background-color: transparent!important;
	margin-right: 25px;
}

.siteurl .right-col{
	width:95%!important;
	max-width:95%!important;
}
#input-sec-search{
	padding:0px;
}
.menu-btn-start-search{
	border-radius: 50%;
	width: 40px;	
}
.menu-btn-scope-filter, .btn-show-filters{
	border-radius: 20px;
	max-width: 20%;
}

.menu-btn-start-search, .menu-btn-scope-filter, .btn-show-filters{
    /* border: 2px solid green !important; */
    background-color: transparent !important;
    height: 40px;
    border: none;
    margin-right: 4px;
    -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.5);
}
.btn-show-filters, .btn-show-filters:active{
	color: #666F78;
}
.btn-show-filters .badge{
	background-color: #666F78;
}

.btn-show-filters:hover{
	border:	1px solid #666F78;
	color: #666F78;
}
.menu-btn-scope-filter:hover, .menu-btn-scope-filter.active{
	border:1px solid #ea4335 !important;
	color: #ea4335 !important;
}
/*.menu-btn-scope-filter.active{
	background-color: #ea4335 !important;
	color: white !important;
}*/
.menu-btn-start-search:hover{
	border:1px solid #93C020 !important;
	color: #93C020 !important;
}
.menu-btn-start-search.active{
	background-color: #93C020 !important;
	color: white !important;
}
#text-search-menu:after, #text-search-menu:before {
    bottom: 100%;
    left: 79px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
 }
#filter-scopes-menu:after, #filter-scopes-menu:before {
    bottom: 100%;
    left: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#text-search-menu:after, #filter-scopes-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 11px;
    margin-left: -11px;
}
#text-search-menu:before, #filter-scopes-menu:before{
	border-color: rgba(179, 179, 179, 0);
    border-bottom-color: #b3b3b3;
    border-width: 12px;
    margin-left: -12px;
}


.portfolio-modal{
	padding-right:0px !important;
	background-color: white;
	z-index:200000;
}
#modalRegisterSuccess, #modalSendAgainSuccess, #modalNewPasswordSuccess{
	z-index:200000;	
}
.portfolio-modal .close-modal{
	z-index:10;
}
.navbar-collapse button,
.navbar-nav button{
	background-color: transparent;
	padding: 0 10px;
	border: none !important;
}
#mainNav .menu-btn-top{
	font-size: 18px;
    padding-top: 10px;
    position: relative;
}
#mainNav .menu-btn-top:hover{
	color:#777;
}
#mainNav .menu-btn-top.btn-menu-home{
	padding-right: 10px;
}

.navbar-header .btn-menu-apps{
	border: none;
    padding: 13px 15px 7px 15px;
    font-size: 20px;
    background-color: white;
}
.menu-name-profil{
	font-weight: 300;
    letter-spacing: 0px;
    margin-right:0px;
    position: relative;
    background-color:rgba(246,246,246,0.6)!important;
	border-radius: 50px !important;
	padding:8px 0 0 0px;
	border:none;
	height: 40px !important;
	display: block;
	text-decoration: none!important;
	text-transform: none;
}
.menu-name-profil img{
	border:2px solid transparent;
	margin-top: -8px;
}
.menu-name-profil small{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px;
    display: inline-block;
}

.navbar-map .menu-name-profil{
	margin-top:4px!important;
	background-color:rgba(10,10,10,0.6)!important;
	padding: 0 0 0 15px;
}
.navbar-map .menu-name-profil:hover{
	background-color:rgba(10,10,10,0.9)!important;
}
.navbar-map .menu-name-profil small{
	color:white;
	padding-top:10px;
}

.menu-name-profil:hover img{
	/*border:2px solid #fff;*/
}
.menu-name-profil:hover {
	background-color:#ddd!important;
}

.btn-menu-connect{
	background-color: transparent!important;
}
.btn-menu-connect:hover{
	color: #2C3E50!important;
}
.navbar-collapse{
	border:none;
}
.navbar-nav{
	margin:0;
}

.btn-favory{
	margin-left:-30px; 
	margin-right:13px;
}

.btn-favory .fa-star{
	display: none;
}
.btn-favory:hover{
	text-decoration: none;
}
.btn-favory:hover .fa-star-o{
	display: none;
}
.btn-favory:hover .fa-star{
	display: inline;
}


/*.main-btn-scopes {
    margin-top: -37px;
    z-index: 10;
    border-radius: 50%;
    padding:3px;
    border: 3px solid transparent!important;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5);
    /*-ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-45deg);
}

.main-btn-scopes:hover{
    background-color: white!important;
    color:#ea4335!important;
    border: 3px solid #ea4335!important;

}*/

.url-div .btn-edit-url{
	display: none;
	margin-top:-4px;
}
.url-div:hover .btn-edit-url{
	display: inline;
}
.portfolio-modal.modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
/*onepage dropdown menu btn*/
#btn-onepage-main-menu{
		position: fixed;
		top:85px;
		left:20px;
		border-radius: 1px;
		letter-spacing: 2px;
	}

.dropdown .dropdown-onepage-main-menu{
	display:none;
}
.dropdown.open .dropdown-onepage-main-menu{
	display:block;
}

.dropdown-onepage-main-menu{
	position: fixed;
	top:130px;
	left:20px;
	max-height:400px;
	/*width:200px;*/
	background-color:transparent;
	z-index:5;
}

.dropdown-onepage-main-menu .dropdown-menu{
	margin:0px;
	border:none;
	display: inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-onepage-main-menu .dropdown-menu li a {
	text-transform: uppercase;
	font-size:13px;
}


#footer-help{
	background-color: rgba(35, 49, 64, 0.9);
	position: fixed;
	bottom: 0px;
	height: 65px;
	color: white;
	font-size: 18px;
	padding: 10px 60px 10px 10px;
}
#footer-help .btnHelp{
	font-weight: 800;
	font-size: 18px;
}
#footer-help .close-footer-help {
 	position: absolute;
    width: 70px;
    height: 50px;
    background-color: transparent;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#footer-help .close-footer-help:hover {
  opacity: 0.6;
}
#footer-help .close-footer-help .lr {
  	height: 30px;
    width: 4px;
    margin-left: 55px;
    background-color: white;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
#footer-help .close-footer-help .lr .rl {
    height: 30px;
    width: 4px;
    background-color: white;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
/*Fix tooltips display*/
.tooltip-inner{
	padding:10px!important;
	font-size:14px;
	min-width:150px;
}
.tooltip.bottom .tooltip-arrow{
	top:1px!important;
}
.tooltip.top .tooltip-arrow{
	bottom:1px!important;
}
.tooltip.left .tooltip-arrow{
	right:1px!important;
}
.tooltip.right .tooltip-arrow{
	left:1px!important;
}


/* DROPDOWN GLOBAL SEARCH*/

  #mainNav .dropdown-result-global-search{
    position: fixed;
    top: 67px;
    left: 83px;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;
    padding:10px;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    -webkit-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    -o-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    box-shadow: 0px 9px 12px 3px rgba(66, 66, 66, 0.37) !important;
    overflow-x: hidden;
    display: none;
    border-top: 1px solid #c6c6c6;
  }
  #mainNav.vertical .dropdown-result-global-search{
    top: 61px;
    left: 54px;
    box-shadow: 2px 5px 6px 1px rgba(66, 66, 66, 0.27) !important;
  }
  .dropdown-result-global-search .entityCenter .fa{
  	color:white!important;
  }

  #mainNav .dropdown-result-global-search #footerDropdownGS{
    padding: 20px;
	float: left;
	width: 100%;
  }

  .dropdown-result-global-search
  .searchEntity{
    box-shadow: none !important;
    border-bottom:1px solid lightgrey;
  }

  .dropdown-result-global-search
  .entityCenter{
    margin-top: 5px!important;
    float:left!important;
  }
  .dropdown-result-global-search
  .entityRight{
    margin-top: 12px;
  }


  #mainNav .dropdown-result-global-search .searchEntity,
  .searchEntity .entityRight .entityName,
  .searchEntity .entityRight .entityLocality,
  .searchEntity a{
  	text-transform: none !important;
  	font-family: unset;
  	font-weight:bold;
  }
  .searchEntity .entityRight .entityName{
  	font-size:16px !important;
  }
  .searchEntity .entityRight .entityLocality{
  	font-size: 12px !important;
	opacity: 0.7;
  }

.btn-menu-to-app{
        color: #666F78 !important;
        font-size: 13px;
        padding: 10px 15px 10px 15px;
        border-radius: 0px;
        font-weight: 100;
        font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 1px 0 0 -1px;
        border-bottom: 1px solid transparent;
}
.btn-menu-to-app.active, .btn-menu-to-app:hover, .btn-menu-to-app:focus{
    border-bottom: 1px solid #e43636;
    color: #ea4335!important;
    box-shadow: inherit !important;
}

#main-search-bar-addon{
    cursor: pointer;
}

.btn-menu-notif .notifications-count,
.btn-menu-chat .chatNotifs,
.btn-dashboard-dda .coopNotifs{
    background-color: #34a853;
    font-size: 10px;
    position: absolute;
    top: -4px;
    right: 2px;
}

.btn-menu-chat .chatNotifs{
	background-color: #c82020;
}
.btn-dashboard-dda .coopNotifs{
	background-color: #229296;
}

.scope-filters-badge{
	position: absolute;
    background-color: #34a853;
    right: 8px;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    top: 9px;
}
.btn-menu-notif{
	margin-right: 7px;
}

.navbar-nav button.btn-menu-chat{
	/*border-right: 1px solid #e3e3e3 !important;*/
}
  
.form-group.priceprice input#price{
	width: 70%!important;
	display: inline-block;
}
.form-group.priceprice select#devise{
	width: 28%;
	height:30px;
	margin-left: 5px;
	display: inline-block;
}


.searchEntity .bg-dark {
    color: white !important;
    background-color: #3C5665 !important;
}
.searchEntity .bg-red{
    background-color:#E33551 !important;
    color:white!important;
}
.searchEntity .bg-blue{
    background-color: #5f8295 !important;
    color:white!important;
}
.searchEntity .bg-green{
    background-color:#93C020 !important;
    color:white!important;
}
.searchEntity .bg-orange{
    background-color:#FFA200 !important;
    color:white!important;
}
.searchEntity .bg-yellow{
    background-color:#FFC600 !important;
    color:white!important;
}
.searchEntity .bg-turq{
    background-color: #229296 !important;
    color:white!important;
}
.searchEntity .bg-purple{
    background-color:#8C5AA1 !important;
    color:white!important;
}
.searchEntity .bg-vine{
    color:white!important;
}
.dropdown-submenu{
	position:relative;
}
.dropdown-submenu>.dropdown-menu{
	top: 0;
    right: 100%;
    max-width: 180px;
    margin-top: -5px;
    margin-right: 1px;
    -webkit-border-radius: 1px 0px 0px 1px;
    -moz-border-radius: 1px 0px 0px 1px;
    border-radius: 1px 0px 0px 1px;
    box-shadow: 0px 5px 7px -5px rgba(0,0,0,.175) !important;
    left: initial;
    display: contents;
    border-right: 1px solid #e5e5e5;
    display:none;
}
.dropdown-submenu .dropdown-menu a img{
width: 18px;
margin-right: 5px;
}
.dropdown-submenu:hover>.dropdown-menu{
	display: block;
}
.dropdown-submenu.pull-left{
	float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}
.dropdown-menu-right {
	margin-left:0;
}

.dropdown-menu-right {
    right:inherit !important;
    left: auto;
}

.btn-select-filliaire{
	border-color: transparent;
	text-transform: none !important;
	background-color: #F2F2F2;
	margin-bottom: 5px;
	border-radius: 10px;
	font-family: "montserrat";
	font-weight: 200 !important;
	font-size:12px;
}
.btn-select-filliaire:hover {
    background-color: #DADADA;
    border: 1px solid transparent;
}

#sub-menu-filliaire{
	/*background-image: url("../../img/background-onepage/pattern/white_brick_wall.png");*/
	margin-bottom: 25px;
	border-bottom: 1px solid #ededed;
	padding: 30px;
	padding-top: 0px;

}

.searchEntityContainer.media{
	margin-top:0px;
}

.searchEntity.coopPanelHtml{
	/*cursor:pointer;*/
	border-left:2px solid #229296;
	box-shadow: none !important;
	height: 410px;
}

#ajax-modal .form-group.newsCreationcheckboxSimple{
	display: inline-block;
	padding: 0 10px 10px 10px;
	background-color: #EDEDED;
	margin-left: 0px;
}

#listSameName .btn-default{
	padding: 5px;
	width: 100%;
	overflow: hidden;
}

#ajax-modal.portfolio-modal.modal{
	background-color: rgba(0,0,0,0.5);
	min-height:unset !important;
	z-index: 200000;
}

#ajax-modal .modal-content{
	top: 15px;
	left: 10%;
	width: 80%;
	border-radius: 5px 5px 0 0;
}
#ajax-modal .container{
	width: unset;
	max-width: 1170px;
}

/* ------------------ DROPDOWN DASHBOARD ------------------ */

#dropdown-dda{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	z-index: 1000000;
}
#dropdown-dda .dropdown-menu.arrow_box{
    width: 400px;
    right: 80px;
    top: 8px !important;
    padding: 0;
}

#dropdown-dda .dropdown-main-menu {
    position: unset;
}

#dropdown-dda .dropdown-main-menu .dropdown-menu li a{
    text-transform: none !important;
    padding: 0px 20px 0 10px;
}
#dropdown-dda .dropdown-main-menu .dropdown-menu li.sub-proposals a{
    padding: 7px 20px 10px 10px;
}

    
#dropdown-dda .dropdown-main-menu .dropdown-menu li.sub-actions{
	/*padding: 0px 10px !important;*/
}
#dropdown-dda .dropdown-main-menu .dropdown-menu li.sub-actions a{
	border-bottom: 1px solid #e0dede;
	padding: 10px 0px 10px 10px !important;
}
#dropdown-dda .dropdown-main-menu .dropdown-menu li.sub-resolutions a{
	padding: 7px 20px 7px 10px;
}
#dropdown-dda li.submenucoop{
    width:100%;
}
#dropdown-dda li.submenucoop.sub-proposals{
    width:100%;
    margin-bottom: 15px;
}

#dropdown-dda li.submenucoop.sub-proposals,
#dropdown-dda li.submenucoop.sub-resolutions,
#dropdown-dda li.submenucoop.sub-actions{
    display: inline-block;
}

#dropdown-dda .submenucoop a{
    margin-left: -1px;
}

#dropdown-dda .fa-arrows-alt{
	display: none;
}
#dropdown-dda h5{
	text-transform: none !important;
}

#scroll-dashboard-dda{
	min-height: 420px;
	overflow: auto;
}

/* ------------------ DROPDOWN DASHBOARD ------------------ */

#modal-preview-coop{
	position: fixed;
	top:0px;
	bottom:0px;
	left:40%;
	right:0px;
	background-color: white;
	z-index: 100000;
}
#modalDeleteAm, #modalAssignMe, #modalExplainGamification{
	z-index: 100020;
}

#modal-preview-coop #amendement-container{
	bottom:0px;
	top:0px;
}

#modal-settings{
	position: fixed;
	top:0px;
	bottom:0px;
	left:0%;
	display: none;
	right:0px;
	background-color: white;
	z-index: 150000;
}

.xdsoft_datetimepicker{
	z-index: 200000 !important;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/



#newsstream{
    min-height:700px;
}


@media screen and (max-width: 1024px) {
	/*.menu-name-profil small{
	    max-width: 45px;
	}
*/

	
}

@media screen and (max-width: 992px) {
    .name .pastille{
        margin-top: -25px;
        max-width: 73%;
        font-size: 0.4em;
    }

	#modal-preview-coop{
		left:15%;
		right:0%;
	}
} 

@media (max-width: 767px) {

	h1, h2, h3, h4, h5, h6{
		display: block;
		font-size: 0.9em;
	}
	.navbar-header .logo-menutop{
		margin: 8px 0px 0 0px !important;
	}

	.navbar-map .navbar-header .logo-menutop{
		margin: 8px 0px 0 -10px;
	}

	.sigModuleBg .btn-group-map.tools-btn{
		margin-right:15px;
	}

	.navbar-custom.affix .navbar-brand{
		padding:0px;
	}

	.navbar-custom.affix {
	 /* max-height: 55px;
	  padding: 3px 0;*/
	}
	.navbar-custom.affix-top {
	  max-height: 58px;
	  padding: 3px 0 5px 0;
	}

	#ajax-modal .form-group, #ajax-modal .form-actions{
		min-width:unset !important;
		width:unset !important;
		margin-left:unset !important;
	}

	#ajax-modal .modal-content{
		left: 3%;
		width: 94%;
	}

    
	header .intro-text .name, 
	.header .intro-text .name, 
	.portfolio-modal.modal .name {
	    font-size: 4em;
		letter-spacing: 0px;
		margin-top: -15px;
		margin-bottom: 5px;
	}
	.portfolio-modal.modal .name {
	    font-size: 2em;
		letter-spacing: 6px;
		margin-top: -20px;
		margin-bottom: 30px;
	}

	header .intro-text .name .letter, 
	.header .intro-text .name .letter, 
	.portfolio-modal.modal .name .letter{
		margin-right: -20px!important;
	}
	.portfolio-modal .modal-content h2{
		/*font-size:4em;*/
	}
	#sectionSearchResults{
		/*margin-left: 15px!important;*/
	}
	/*.name .pastille{
		margin-top:-40px;
		max-width: 82%;
		font-size: 0.4em;
	}*/

	header .logo-menutop{
		margin-bottom: 0px;
		height:50px!important;
	}
	.name img{
		max-height:40px;
	}

	.links-main-menu {
		font-size:0.4em;
	}
	.links-main-menu a{
		text-decoration: none!important;
	}

	.portfolio-modal .close-modal .lr,
	.portfolio-modal .close-modal .lr .rl{
		height:50px;
	}
	.portfolio-modal .close-modal {
	    width: 55px;
	    height: 50px;
	}
	#main-search-bar {
	    font-size: 14px;
	}

	.portfolio-link h3 {
	    font-size: 13px;
	}
	.portfolio-link .fa-3x {
    	font-size: 2em;
	}

	#mainCategories h2{
		font-size: 1.4em;
	}
	.menu-name-profil{
		padding:8px 0 0 0;
	}
	.navbar-custom .btn-show-mainmenu{
		margin-left:0px;
	}

	.menu-name-profil{
		margin-right: 0px;
	}
	.main-menu-app {
	    margin-bottom: 35px !important;
		/*margin-top: 15px !important;*/
	}

	#btn-radio img{
		height:20px;
		margin-top:2px;
	}

	.dropdown-main-menu{
		right: 70px;
	}
	.navbar-nav #dropdown-user.open .dropdown-menu{
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
		background-color: white !important;
		display: block;
	}

	.scopes .btn-directory-type{

	}

	header .container, 
	.header .container{
		padding-bottom: 30px;
	}

	section{
		padding:25px 0 0 0;
	}

	#sub-menu-left{
        margin-top:10px;
        text-align: left;
    }

    .col-footer a{
    	padding:10px;
    }
	
	.btn-menu-to-app{
		font-size:18px;
	}

	#modal-preview-coop{
		left:0%;
		right:0%;
	}

	#mainNav #menu-thumb-profil{
		width:30px !important;
		height:30px !important;
	}
	#mainNav .menu-name-profil{
		width:30px !important;
		height:30px !important;
		margin-left:5px;
		margin-top:9px !important;
	}

	#container-text-action, 
	#container-text-proposal, 
	#container-text-resolution{
		display: inline-block;
		width: 100%;
	}

	/*
	.dropdown-main-menu .arrow_box:after, .dropdown-main-menu .arrow_box:before {
		right: 125px;
		left: unset;
	}*/

    
    #dropdown-dda .dropdown-menu.arrow_box{
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        background: white;
        position: fixed !important;
        top: 52px;
    }
    #dropdown-dda .dropdown-main-menu .arrow_box::after, 
    #dropdown-dda .dropdown-main-menu .arrow_box::before {
        right: 265px;
        left: unset;
    }

    .headerSearchContainer h4{
    	font-size: 12px !important;
		width: 65%;
    }

    #dropdown-user .menu-lang .dropdown-menu a{
    	text-align: right;
    }

    .switchDirectoryView{
	    font-size: 10px;
		padding: 5px 8px;
	}

	.dropdown-menu.arrow_box {
	    position: absolute !important;
	    top: 30px;
	    right: -17px !important;
    }
    .main-container.vertical #dropdown-user .arrow_box{
	    position: absolute !important;
		top: -7px;
	    right: 50px !important;
	    left: unset;
    }
	.navbar-map .menu-name-profil{
		padding: 0px !important;
	}
	.navbar-map .menu-name-profil img{
		margin-top: 0px;
	}

	.navbar-map.navbar-custom .btn-show-map{
		border-radius: 50%;
		width:35px;
		height:35px;
	}

	.open-type-filter{
		
	}	
	header{
        min-height: initial;
    }
    .menu-btn-scope-filter, .btn-show-filters{
        margin: 0px;
    	box-shadow: none !important;
    	max-width: inherit;
    	border-radius: 0px;
    }
    .menu-btn-scope-filter.active, .menu-btn-scope-filter:hover, .menu-btn-scope-filter.active:hover {
        background-color: transparent !important;
        color: #ea4335 !important;
        box-shadow: none !important; 
        border: none !important;
    	border-bottom: 2px solid #ea4335 !important;
    }
    .btn-show-filters{
        float: right;
    	padding: 6px 10px;
    }

    .btn-show-filters:hover{
    	box-shadow: none !important; 
        border: none !important;
    	border-bottom: 2px solid #666F78 !important;
    }
    #filters-nav{
    	display:none;
    }
    #text-search-menu{
        display: block !important;
    }
    #text-search-menu:after, #filter-scopes-menu:after, #text-search-menu:before, #filter-scopes-menu:before {
        border-bottom-color: transparent;
    }
    .main-search-bar, .main-search-bar-addon{
        border-radius: 0px !important;
    }
    .dropdown-xs-view .dropdown-menu{
        top: 39px !important;
        left: -1px !important;
        right: -14px !important;
    }   
    .dropdown-xs-view .dropdown-menu:before, .dropdown-xs-view .dropdown-menu:after{
        border-bottom-color:inherit !important;
    }
    .dropdownApps-menuTop .dropdown-menu{
		top: 107px;
	    right: 3px !important;
	    left: 3px;
	    width: inherit;
	    position: fixed !important;
	}
	.dropdownApps-menuTop .dropdown-menu:before, .dropdownApps-menuTop .dropdown-menu:after {
		left:5% !important;
	}
}

label.error{color:red;}